<p id="notice"><%= notice %></p>

<h1>Order Cards</h1>

<table>
  <thead>
    <tr>
      <th>User email</th>
      <th>Items</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_cards.each do |order_card| %>
      <tr>
        <td><%= order_card.user_email %></td>
        <td><%= order_card.items %></td>
        <td><%= order_card.quantity %></td>
        <td><%= order_card.unit_price %></td>
        <td><%= order_card.total %></td>
        <td><%= link_to 'Show', order_card %></td>
        <td><%= link_to 'Edit', edit_order_card_path(order_card) %></td>
        <td><%= link_to 'Destroy', order_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Card', new_order_card_path %>
