<p id="notice"><%= notice %></p>

<p>
  <strong>User email:</strong>
  <%= @order_card.user_email %>
</p>

<p>
  <strong>Items:</strong>
  <%= @order_card.items %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_card.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @order_card.unit_price %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order_card.total %>
</p>

<%= link_to 'Edit', edit_order_card_path(@order_card) %> |
<%= link_to 'Back', order_cards_path %>
